@{
    ViewData["Title"] = "Home";
}

@{
    var isLoggedIn = Context.Session.GetInt32(nameof(Customer.CustomerID)).HasValue;
}

<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="display-4">Bread Banking</h1>
            <p class="mt-3">Welcome to Bread Banking, an online banking application that stacks your bread.</p>
            <div class="mt-4">
                @if (isLoggedIn)
                {
                    <a class="btn btn-outline-primary" asp-controller="Login" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Login" asp-action="Login">Login</a>
                }
            </div>
        </div>
        <div class="col">
            <img src="~/img/breadbank.jpg" alt="BreadBankingLogo" class="img-fluid">
            @* <img src="~/img/Logo-bread-bank-icon.jpg" alt="BreadBankingLogo" class="img-fluid"> *@
        </div>
    </div>
</div>